<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omegar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".meal_input2"></activity>
        <activity android:name=".MealInput" />
        <activity android:name=".Homepage" />
        <activity android:name=".login"></activity>
        <activity android:name=".Profile" />
        <activity android:name=".TermsAndConditions" />
        <activity android:name=".Education" />
        <activity android:name=".mealHistory" />
        <activity android:name=".navigation" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>